<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.mapper.UserMapper">

    <!-- 通过用户名、手机号、邮箱查找用户 -->
    <select id="findUserByIdentity" parameterType="String" resultType="User">
        SELECT * FROM medicine.user
        WHERE username = #{identity} OR phone = #{identity} OR email = #{identity}
    </select>

    <!-- 通过用户名、手机号、邮箱和密码查找用户 -->
    <select id="findUserByIdentityAndPassword" parameterType="map" resultType="User">
        SELECT * FROM medicine.user
        WHERE (username = #{identity} OR phone = #{identity} OR email = #{identity})
          AND password = #{password}
    </select>

    <!-- 通过用户名、手机号、邮箱修改密码 -->
    <update id="updateUserPassword" >
        UPDATE medicine.user
        SET password = #{newPassword}
        WHERE userId = #{userId}
    </update>

    <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        insert into medicine.user (username, password, phone, email, role)
        values (#{username},#{password},#{phone}, #{email}, #{role});
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from medicine.user where userId=#{userId};
    </delete>

    <update id="update" parameterType="User">
        update medicine.user set username=#{username}, phone=#{phone},email=#{email}
        where userId=#{userId};
    </update>

    <select id="queryById" parameterType="Integer" resultType="User">
        select userId, username, phone, email, role from medicine.user where userId=#{userId};
    </select>

    <select id="queryAll" resultType="User">
        select * from medicine.user;
    </select>

</mapper>
